<div class="flex flex-row justify-content-center gap-20 m-20">
    <div class="align-content-start">
        <app-dashboard-card routerLink="/todos" routerLinkActive="active"  [headerText]="'User'" [cardIcon]="'../../../../assets/user.png'" [subHeaderText]="'User is a person who utilizes a computer or network service'"/>
    </div>
    <div class="align-content-start">
        <app-dashboard-card routerLink="/todos" routerLinkActive="active"  [headerText]="'To Do'" [cardIcon]="'../../../../assets/to-do.png'" [subHeaderText]="'To-do lists are a list of tasks that an individual needs to complete or accomplish'" />
    </div>
</div>